.mainbox{
    background-color: rgba(0,0,0,0.21);
    width: 100%;
    margin: auto;
}
.menu{
    background-color: black;
    height: 90px;
    text-align: center;
    background-image: url('../Images/mazais daikts.jpeg');
}

.leftside{
    background-color: rgba(8,179,255,0.15);
    width: 10%;
    height: 1000px;
    float: left;
    position: relative;
    font-family: Tahoma, serif;
    color: #000033;
}

a{
    color: white;
    text-decoration: none;
}

.main{
    background-color: rgba(8,179,255,0.15);
    width: 80%;
    height: 1000px;
    float: left;
    text-align: center;
}


.rightside{
    background-color: rgba(8,179,255,0.15);
    width: 10%;
    height: 1000px;
    float: left;
}

.footer{
    background-color: black;
    width: 100%;
    height: 90px;
    float: left;
    background-image: url('../Images/mazais daikts.jpeg');

}

.menu>ul>li{
    display: inline;
    padding: 20px 20px 20px 20px;
    background-color: dimgrey;
    position: relative;
    font-family: Tahoma, serif;
    top: 30px;
    font-size: 28px;
}

.video{
    position: relative;
    border: 2px solid black;
    margin-top: 5px;
    margin-left: 20px;
}

.menu>li>a{
    text-decoration: none;
    color:#003;
}

a:hover{
    text-decoration: none;
    transition: 0.6s;
    color: red;
}

.active{
    text-decoration: none;
    -webkit-text-fill-color: red;
}

.gallery{
    padding: 5px 1px 2px 1px;
    max-width: 300px;
    max-height: 300px;
    position: relative;
}

.title {
    font-size: 50px;
    text-align: center;
    font-family: "Comic Sans MS", serif;
}

.text{
    position: relative;
    top: 35px;
    font-family: "Times New Roman", serif;
    font-size: 30px;
    text-align: justify;
    text-indent: 50px;
    line-height: 1.49;
    margin-bottom: 20px;
}

.pamaciba{
    margin: 4px;
    position: relative;
    font-size: 17px;
    font-family: Tahoma, serif;
    padding: 14px 1px;
    display: inline-block;
    width: 95%;
    background-color: dimgrey;
    text-align: center;
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 1000px) {
    .leftside{
        height: 150px;
        width:100%;
        position: relative;
    }
    .rightside{
        display: none;
    }

    .main{
    width: 100%;
        height: 1800px;
    }
}
    menu{
        width:100%;
    }
    .menu>ul>li{
        display: inline;
        padding: 20px 20px 20px 20px;
        background-color: dimgrey;
        position: relative;
        font-family: Tahoma, serif;
        top: 30px;
        font-size: 22px;
}

