.mainbox{
    background-color: dimgrey;
    width: 100%;
    margin: auto;
}
.menu{
    background-color: black;
}

.leftside{
    background-color: grey;
    width: 10%;
    float: left;
}

.main{
    background-color: green;
    width: 80%;
    height: 2000px;
    float: left;
}

.rightside{
    background-color: aquamarine;
    width: 10%;
    float: left;
}

.footer{
    background-color: yellow;
    width: 100%;
    height: 200px;
    float: left;
}

.menu{
    height: 37px;
    text-align: center;
}

.menu>ul>li{
    display: inline;
    padding: 10px 10px 10px 10px;
    background-color: dimgrey;
    position: relative;
    font-family: Tahoma, serif;
    top: 8px;
    font-size: 15px;
}

.menu>li>a{
    text-decoration: none;
    color:#003;
}

.active{
    text-decoration: underline;
    -webkit-text-fill-color: red;
}

.gallery{
    padding: 5px 1px 2px 1px;
    max-width: 130px;
    max-height: 130px;
    position: relative;
    left: 300px;
}

.title{
    font-size: 50px;
    text-align: center;
}